*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

.container{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 80%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	object-position: center;
}

.containerback{
	width: 100%;
	height: 100%;
	background-image: url('https://i.gifer.com/33HI.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	object-fit: cover;
	object-position: center;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 350px;
}

.content img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
}

.content > img{
	border: 0px solid #fff;
    box-shadow:0 0 100px white;
}

.socialblock{
	display: flex;
	justify-content: space-around;
	width: 80%;
	/* background: url('../img/backicons.jpg');
	padding: 10px;
	border-radius: 100px; */
}

.socialblock img{
	width: 45px;
	height: 45px;
}

.content span{
	color: white;
	font-weight: bold;
	font-size: 70px;
}

.clicks{
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0px 20px 0px;
}

.clicks button{
	border: none;
	background: none;
	border: 2px solid white;
	padding: 5px;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.header{
	position: absolute;
	top: 10%;
	width: 100%;
	display: none;
	justify-content: center;
}

.menu ul span{
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
}

.menu{
	width: 5%;
background: orange;
display: flex;
justify-content: center;
padding: 20px;
border-radius: 15px;
text-align: center;
}

.menu ul{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu ul li{
	list-style-type: none;
}

.menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}



@media (max-width: 750px){

.content{
	height: 25%;
}

.content span{
	font-size: 43px;
}

.socialblock{
	min-width: 60%;
}

.socialblock img{
	max-width: 30px;
	max-height: 30px;
}

.content img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
}
}
